// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

html {
  border-top: 3px solid red;
}

.logo-bar {
  max-width: 1140px;
  display: block;
  margin: 0 auto;
  display: block;
  overflow: auto;
}

.navbar {
  background-color: #0f64b2;
  margin-bottom: 0;
 }
.navbar-default .navbar-nav > li {
  text-transform: uppercase;
  a {
    color: #fff;

  }
  a:hover {
    background-color: #000;
    color: #fff;
  }
}

.main-container .region h3 a {
  color: #bc0000;
}
.main-container .region-header h1 {
  color: #bc0000;
  border-bottom: none;
  margin-bottom: 0px;
}

.region-header {
  background-color: #ececec;
  padding: 10px;
}

.region-sidebar-second .form-group {
  background-color: #ececec;
  margin-top: 10px;
  padding: 10px;
}

.page-node-type-news .region-header {
  background-color: #bc0000;
  padding: 10px;
  h1 {
    color: #fff;
    border-bottom: none;
    margin-bottom: 0px;
  }
}

.region-footer {
  text-align: center;
}

.region-content {
  margin-top: 20px;
}
